.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 64px;
	padding: 24px;
	margin-bottom: 54px;
	align-items: stretch;
	justify-content: space-between;
}

.one-item {
	padding: 24px 24px 56px 24px;
	display: flex;
	width: 40%;
	background-color: #FCD9DD;
	border: 3px solid #EDF2F4;
	border-radius: 48px;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
	gap: 24px;
}

.card-image	{
	display: flex;
	position: relative;
	object-fit: cover;
	width: 130%;
}

.image-top, .image-bottom {
	display: flex;
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 140px;
	width: 140px;
}

.card-image:hover .image-bottom {
	z-index: 1;
}

.container-for-card {
	background-color: #FF595E;
	border-radius: 48px;
}
